# compiled output
dist/
tmp/
out-tsc/

# dependency directories
node_modules/

# environment variables
.env
.env.*
!.env.example

# yarn
pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# logs
logs/
*.log

# runtime data
pids
*.pid
*.seed
*.pid.lock

# coverage
lib-cov
coverage/
*.lcov

# caching
*.tsbuildinfo
.npm
.eslintcache
.yarn-integrity
.angular
